@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*Zdjęcia użyte na podstawie Creative Commons license
    https://www.google.com/search?q=realistic+armor&sca_esv=76583c995a4c1c88&rlz=1C1_____plPL1064PL1064&udm=2&source=lnt&tbs=sur:cl&sa=X&ved=2ahUKEwiy-tO85PWKAxW0HxAIHcL3CWwQpwV6BAgDECA&biw=1920&bih=957&dpr=1#vhid=mC7kmanqkAJEXM&vssid=mosaic
    https://www.google.com/search?q=medieval+hero+in+armor&sca_esv=76583c995a4c1c88&rlz=1C1_____plPL1064PL1064&udm=2&biw=1920&bih=957&tbs=sur%3Acl&ei=HqiGZ8-QKsrMwPAPo8X0gAg&ved=0ahUKEwjPl7mW5_WKAxVKJhAIHaMiHYAQ4dUDCBE&uact=5&oq=medieval+hero+in+armor&gs_lp=EgNpbWciFm1lZGlldmFsIGhlcm8gaW4gYXJtb3JI5RJQ8gdYyxFwAXgAkAEAmAFMoAGABaoBATm4AQPIAQD4AQGYAgKgAlfCAgUQABiABMICBhAAGAgYHsICCBAAGAgYChgewgIIEAAYBxgIGB6YAwCIBgGSBwEyoAfABw&sclient=img#vhid=EceAkwEcCb-Y9M&vssid=mosaic
    https://www.google.com/search?q=medieval+archer&sca_esv=76583c995a4c1c88&rlz=1C1_____plPL1064PL1064&udm=2&biw=1920&bih=957&tbs=sur%3Acl&ei=Jq2GZ_y8CdDGwPAPtbqp0QY&ved=0ahUKEwj856386_WKAxVQIxAIHTVdKmoQ4dUDCBE&uact=5&oq=medieval+archer&gs_lp=EgNpbWciD21lZGlldmFsIGFyY2hlcjIFEAAYgAQyBRAAGIAEMgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABDIFEAAYgARIxAtQ2gRY8glwAXgAkAEAmAFFoAHGAaoBATO4AQPIAQD4AQGYAgKgAqABmAMAiAYBkgcBMqAHywo&sclient=img#imgrc=jZYsJQUVfK7ZCM&imgdii=T7sTvh6jtUn27M
    https://www.google.com/search?q=medieval+archer+in+hood&sca_esv=76583c995a4c1c88&rlz=1C1_____plPL1064PL1064&udm=2&biw=1920&bih=957&tbs=sur%3Acl&ei=LK2GZ4-YHJDAwPAPlLO5qQM&ved=0ahUKEwiP3q7_6_WKAxUQIBAIHZRZLjUQ4dUDCBE&uact=5&oq=medieval+archer+in+hood&gs_lp=EgNpbWciF21lZGlldmFsIGFyY2hlciBpbiBob29kSJofUMsNWKgecAF4AJABAJgBUqABvgSqAQE4uAEDyAEA-AEBmAIDoAKlAcICChAAGIAEGEMYigXCAgYQABgHGB7CAgUQABiABMICBBAAGB6YAwCIBgGSBwEzoAfqCA&sclient=img#vhid=xpv-hDzrUeFUFM&vssid=mosaic
    https://www.google.com/search?q=medieval+king&sca_esv=76583c995a4c1c88&rlz=1C1_____plPL1064PL1064&udm=2&biw=1920&bih=957&tbs=sur%3Acl&ei=Jq2GZ_y8CdDGwPAPtbqp0QY&ved=0ahUKEwj856386_WKAxVQIxAIHTVdKmoQ4dUDCBE&uact=5&oq=medieval+king&gs_lp=EgNpbWciDW1lZGlldmFsIGtpbmcyBRAAGIAEMgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABDIFEAAYgAQyBRAAGIAESNQRUABY0Q1wAHgAkAEAmAFqoAH4B6oBBDEyLjG4AQPIAQD4AQGYAg2gAuMIwgIKEAAYgAQYQxiKBcICBxAAGIAEGAqYAwCSBwQxMi4xoAe_Pw&sclient=img#vhid=42bcIGGERHIbsM&vssid=mosaic


*@

<link rel="stylesheet" href="~/css/HomePage.css" asp-append-version="true" />


<div id="bg1">
    <div id="bg2">
        <div id="opis">
            <p id="text">Projekt XIV jest projektem stworzonym na potrzeby przedmiotu <br />Pracownia Programowania III.<br />Jest to interaktywna gra z wykorzystaniem programowania obiektowego w C# i Razor Pages</p>
        </div>
    </div>
</div>

<footer>
    <p id="copy">2025<br />&copy; Julianna&nbsp;&nbsp; Mali<br />&copy; Hubert&nbsp;&nbsp; Madej</p>
</footer>