@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/HomePage.css" asp-append-version="true" />


<div id="bg1">
    <div id="bg2">
        <div id="opis">
            <p id="text">Projekt XIV jest projektem stworzonym na potrzeby przedmiotu <br />Pracownia Programowania III.<br />Jest to interaktywna gra z wykorzystaniem programowania obiektowego w C# i Razor Pages</p>
        </div>
    </div>
</div>

<footer>
    <p id="copy">2025<br />&copy; Julianna&nbsp;&nbsp; Mali<br />&copy; Hubert&nbsp;&nbsp; Madej</p>
</footer>