@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/HomePage.css" asp-append-version="true" />

<div id="opis">
    <p id="test">Opis projektu</p>
</div>

<footer>
    <p id="copy">2025<br />&copy; Julianna&nbsp;&nbsp; Mali<br />&copy; Hubert&nbsp;&nbsp; Madej</p>
</footer>