@page
@model ProjektWeb.Pages.LossModel
@{
}

<style type="text/css">
    body{
        background: black;
        color: goldenrod;
    }   
    h1{
        position: relative;
        font-size: 60px;
        top: 15vh;
        left: 41.5vw;
        width: 0px;
       
    }
</style>

<h1>PRZEGRAŁEŚ!</h1>