@page
@model Map1Model
@{
    ViewData["Title"] = "Gra";
}

  
<div id="mapa1">
    
    @for(int i = Model._mapa.SizeY - 1; i>=0; i--)
    {
        <div id="rows">
            @for(int j = 0; j < Model._mapa.SizeX; j++)
            {
                double mnoz = i * 0.43;

                if (i == Model._mapa.SizeY - 1)
                {
                    <div id="@j" style="position:relative; left:1.8vw;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                            <defs>
                                <clipPath id="clipPolygon3">
                                    <polygon points="49.9,1.4     100,28.375   100,73.15  49.9,100.125  0.2,73.15  0.2,28.375" />
                                </clipPath>
                            </defs>

                            <polygon points="49.9,1.1   100,28.375  100,73.15   49.9,100.125  0.2,73.15  0.2,28.375" id="obramowka" />

                            @*<image href="/Images/rabit.png" width="2vw" height="4vh" x="0" y="0" clip-path="url(#clipPolygon3)" />*@
                        </svg>

                    </div>
                }
                else
                {
                    if (i%2 == 0)
                    {
                        <div id="@j" style="position: relative; top: calc(-3vh+@mnoz vh);">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                <defs>
                                    <clipPath id="clipPolygon3">
                                        <polygon points="49.9,1.4     100,28.375   100,73.15  49.9,100.125  0.2,73.15  0.2,28.375" />
                                    </clipPath>
                                </defs>

                                <polygon points="49.9,1.1   100,28.375  100,73.15   49.9,100.125  0.2,73.15  0.2,28.375" id="obramowka"/>

                                @*<image href="/Images/rabit.png" width="2vw" height="4vh" x="0" y="0" clip-path="url(#clipPolygon3)" />*@
                            </svg>

                        </div>
                    }
                    else
                    {
                        <div id="@j" style="position: relative; top: calc(-2vh*@mnoz vh); left:1.8vw;">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                <defs>
                                    <clipPath id="clipPolygon3">
                                        <polygon points="49.9,1.4     100,28.375   100,73.15  49.9,100.125  0.2,73.15  0.2,28.375" />
                                    </clipPath>
                                </defs>

                                <polygon points="49.9,1.1   100,28.375  100,73.15   49.9,100.125  0.2,73.15  0.2,28.375" id="obramowka" />

                                @*<image href="/Images/rabit.png" width="2vw" height="4vh" x="0" y="0" clip-path="url(#clipPolygon3)" />*@
                            </svg>

                        </div>
                    }
                }
            }
        </div>
    }

</div>

