@page
@model Map2Model
@{
    ViewData["Title"] = "Level 2";
}
<link rel="stylesheet" href="~/css/Controller.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/MapView.css" asp-append-version="true" />


<div id="container">

    <div id="controller">
        <div id="top">
            <form method="post" asp-page-handler="TopLeft">
                <button type="submit" class="trianglebutton" id="TopLeft"></button>
            </form>
            <form method="post" asp-page-handler="TopRight">
                <button type="submit" class="trianglebutton" id="TopRight"></button>
            </form>
        </div>
        <div id="middle">

            <form method="post" asp-page-handler="Left">
                <button type="submit" class="trianglebutton" id="Left"></button>
            </form>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <defs>
                    <clipPath id="clipPolygon3">
                        <polygon points="49.9,4.4     100,28.375   100,73.15  49.9,97.125  0,73.15  0,28.375" />
                    </clipPath>
                </defs>

                <polygon points="49.9,1.4   100,28.375  100,73.15   49.9,100.125  0,73.15  0,28.375" id="obramowka" />

                @*
                <image href="/Images/hexagon-long-diagonals.png" width="100px" height="100px" x="" y="3%" clip-path="url(#clipPolygon3)" />
                *@
            </svg>

            <form method="post" asp-page-handler="Right">
                <button type="submit" class="trianglebutton" id="Right"></button>
            </form>

        </div>

        <div id="bottom">
            <form method="post" asp-page-handler="DownLeft">
                <button type="submit" class="trianglebutton" id="DownLeft"></button>
            </form>
            <form method="post" asp-page-handler="DownRight">
                <button type="submit" class="trianglebutton" id="DownRight"></button>
            </form>
        </div>
    </div>

    <div id="mapa1">

        @for (int y = Model.Game2.Map.SizeY - 1; y >= 0; y--)
        {
            double mnoz = y * 17 - 198;
            var actualmnoz = mnoz.ToString("0.0", System.Globalization.CultureInfo.InvariantCulture);

            <div id="rows" style="position:relative; top:@(actualmnoz)px;">
                @for (int x = 0; x < Model.Game2.Map.SizeX; x++)
                {
                    <div id="@x">

                         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"> 
                             <defs> 
                                 <clipPath id="clipPolygon3"> 
                                     <polygon points="49.9,4.4     100,28.375   100,73.15  49.9,97.125  0,73.15  0,28.375" /> 
                                 </clipPath> 
                             </defs> 

                             <polygon points="49.9,1.4   100,28.375  100,73.15   49.9,100.125  0,73.15  0,28.375" id="obramowka" /> 

                             @{ 
                                 Projekt.Point punkt;

                                punkt = y % 2 == 0 ? new Projekt.Point(x, y / 2, null, null) : new Projekt.Point(null, null, x, y / 2);

                                 var element = @Model.Game2.Map.At(punkt); 

                                 switch(element as Projekt.Postaci.Character) 
                                 { 
                                     case Projekt.Postaci.Hero: 
                                         { 

                                             <image href="/Images/characters/hero.png" width="auto" height="10vh" x="22%" y="17%" clip-path="url(#clipPolygon3)"/> 
                                             <style type="css">
                                                div#@x:hover
                                                {
                                                    border:20px solid black;
                                                }
                                             </style>
                                             break; 
                                         } 
                                     case Projekt.Postaci.Scout: 
                                         {
                                            <image href="/Images/characters/scout.png" width="auto" height="10vh" x="22%" y="17%" clip-path="url(#clipPolygon3)" />
                                            break; 
                                         } 
                                     case Projekt.Postaci.Knight: 
                                         {
                                            <image href="/Images/characters/knight.png" width="auto" height="10vh" x="22%" y="17%" clip-path="url(#clipPolygon3)" />
                                            break; 
                                         } 
                                    case null:
                                         { 
                                             break; 
                                         } 
                                }
                            }

                        </svg>
                    </div>
                }
            </div>
        }

    </div>

</div>
