@page
@model ProjektWeb.Pages.WinModel
@{
}
<style type="text/css">
    header{
        background: darkgoldenrod;
    }
    body{
        background: url(../Images/backgrounds/confettiv2.gif);

    }
    h1{
        position: relative;
        font-size: 60px;
        top: 15vh;
        left: 41.5vw;
        width: 10px;
    }
</style>

<h1>Gratulacje @Model.WinnerName!</h1>
<h1>Wygrałeś Grę!</h1>