@page
@model ProjektWeb.Pages.WinModel
@{
}

<link rel="stylesheet" href="/css/Win.css" asp-append-version="true" />


<div id="container">
    <div id="confetti1">
        <img src="~/Images/backgrounds/confettiv2.gif"/>
    </div>
    <div id="text">

        <h1>Gratulacje<br />@Model.WinnerName!</h1>
        <h1 id="win">Wygrałeś Grę!</h1>

    </div>
    <div id="confetti2">
        <img src="~/Images/backgrounds/confettiv2.gif"/>
    </div>
</div>