@keyframes heroAttack {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    25% {
        transform: translateX(200px) rotate(10deg); 
    }

    100% {
        transform: translateX(0) rotate(0deg);
    }
}

@keyframes enemyAttack {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    25% {
        transform: translateX(-200px) rotate(-10deg);
    }

    100% {
        transform: translateX(0) rotate(0deg);
    }
}

@keyframes enemyDodge {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(70px) rotate(5deg);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes heroDodge {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-70px) rotate(-5deg);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes defeat{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

header{
    visibility: hidden;
}

#content{
    height: 0px;
}

div#log-area {
    width: 100%;
    height: 300px;

    overflow: auto;
    scrollbar-color: gray black;
    scrollbar-width: thin;

    font-size: 24px;
    text-align: justify;
    line-height: 30px;

    padding: 10px -10px 0px 10px;
}

div.container {
    display: flex;
    justify-content: space-around;
    height: 80vh;
}

div.container > div
{
    background-color: rgba(181, 183, 182, 0.4);
    border: 5px solid black;
    border-radius: 40px;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 37px;
}

div.container > div:nth-child(odd) {
    background-color: rgba(181, 183, 182, 0.3);
    width: 30%;
}

#scroll{
    width: 2px;
    height: 1px;
    position: relative;
    bottom: 70vh;
    left: 33vw;
    transform: scale(1.7, 1.2);
    opacity: 0.8;
}

div.container > div:nth-child(even) {
    border: 0px solid black;
    background: 0;
    padding: 10px;
    margin-top: 10%;
    width: 20%;
    height: 50%;
    z-index: 1000;
}

#powrot{
    font-family: 'EnchantedLand', sans-serif;
    font-size: 30px;
    color: var(--link-color);
    background-color: var(--navbar-color);
}

div.liczby
{
    position:relative;
    top:-8.4vh;
}

div.expbar
{
    background-color: goldenrod;
    height:4vh;
}

.hpbar 
{
    background-color: black;
    position: relative;
}

.hp {
    height: 100%;
    background-color: #00b300;
    width: 100%;
    transition: width 0.5s ease;
}

div.expbar span {
    position: relative;
    top: -2.5vh;
    font-size: 18px;
}

#hero-info
{
    position:relative;
    top:-90px;
    text-shadow: 0px 0px 5px snow;
}

#herolvl{
    position: relative;
    right: 4vw;
}

#herostats{
    position: relative;
    left: 4vw;
    bottom: 8vh;
    transform: scale(0.3);
}

dmg{
    color: rgb(191, 15, 23);
}

dodge{
    color: rgb(21, 85, 21);
}

#wygrana{
    background: url(../Images/backgrounds/confetti.gif);
    height: 10;
    width: 80%;
    position:relative;
    bottom: 70vh;
    z-index: 2000;
    text-align: center;
    align-content: center;
    font-size: 60px;
    letter-spacing: 5.1px;
    border: 2px solid red;
    transform: scale(0.9)
}

#wygrana > img{
    position: relative;
    height: 10vh;
    bottom: 100vh;
}