div#mapa1 {
    /*    display: flex;*/
    /*    grid-template-columns: max-content repeat(16, max-content);
    grid-template-rows: repeat(12, 1fr) max-content;*/
    align-items: center;
    margin: auto;
    width: 59vw;
    height: 87vh;
    background-color: rgba(0,0,0,0.2);
    padding: 10px 100px 10px 40px;
    border: 2px solid black;
    border-radius: 40px
}


div#rows {
    display: flex;
}


svg > defs > clipPath > polygon {
    stroke: blue;
    stroke-width: 3;
}

div#mapa1 > div * {
    height: 7vh;
    width: auto;
}

div#rows:nth-child(even) {
    left: 1.75vw;
}

svg > image {
    height: 10vh;
}

polygon#hex {
    fill: blue;
}

polygon#obramowka {
    fill: lightblue;
    stroke: black;
    stroke-width: 3px;
}
