:root{
    --polygon-color: #BE8D67;
}


div#mapa1 {
    margin-left: 5%;
    width: 59vw;
    height: 80vh;
    background-color: rgba(126, 85, 53, 0.2);
    padding: 10px 100px 10px 40px;
    border: 2px solid black;
    border-radius: 40px;
    margin-top: 1.75%
}


div#rows {
    display: flex;
}


svg > defs > clipPath > polygon {
    stroke: blue;
    stroke-width: 3;
}

div#mapa1 > div * {
    height: 7vh;
    width: auto;

}

div#rows:nth-child(odd) {
    left: 1.75vw;
}

svg > image {
    height: 10vh;
}

polygon#hex {
    fill: blue;
}

polygon#obramowka {
    fill: var(--polygon-color);
    stroke: black;
    stroke-width: 3px;
}
