@font-face {
    font-family: 'EnchantedLand';
    src: url('/Fonts/EnchantedLand.otf') format('opentype');
}

:root {
    --main-text-color: #0B0704;
    --background-color: #EADACE;
    --navbar-color: #CDA789;
    --link-color: #442E1D;
}

html{
    font-family: 'EnchantedLand', sans-serif;
}

body {
    background-color: var(--background-color);
    margin: 0;
}

header {
    justify-items: center;
    background-color: var(--navbar-color);
    margin-bottom: 1.75%;
    padding: 5px;
}

.center{
    justify-content: center;
    justify-items: center;
}

#site-name {
    padding: 5px 40px 5px 30px;
    color: var(--main-text-color);
    font-size: 40px;
}

nav {
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
}

a, a:visited{
    padding: 10px;
    text-decoration: none;
    color: var(--link-color);
}
